@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";

.footerSection {
background:linear-gradient(to bottom,#654840,#130E0C);
width:100%;
height:320px;
display:flex;
justify-content:center;
font-family:"Montserrat",sans-serif;
font-optical-sizing:auto;
font-weight:400;
font-style:normal;
padding:20px
}

.footerCentered {
background-color:transparent;
width:980px;
height:100%;
display:flex;
justify-content:space-between
}

.footerLeftContent {
width:80%;
display:flex;
flex-direction:column;
justify-content:space-between
}

.footerRightContent {
width:20%;
height:30px;
display:flex;
justify-content:space-between
}

.logoFooter {
margin-bottom:10px
}

.a {
color:#fff;
font-size:14px
}

.ah:hover {
color:#FFCA7A;
font-size:14px
}

.headerLink {
color:#fff;
font-size:30px
}

#footerLogo {
width:110px;
height:80px
}