@import "../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.sectionSpaceCarousel{
    background-color: white;
    width: 100%;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.tittleSectionCarousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.tittleCarousel{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 38px;
    font-weight: 600;
    font-style: normal;
    color: #6F5149;
}
.subtittleCarousel{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    color: #A77B70;
}
.CarouselPosition{
    display: flex;
    justify-content: center;
}
#carouselExampleFade{
    width: 780px;
    height: 340px;
}